body{
    padding: 0;
    margin: 0;
}
h1{
    font-size: 3em;
    text-align: center;
    color: black;
    font-weight: bolder;
  
}

.main{
    background-color: rgb(12, 60, 78);
    height: 600px;
    max-width:100%;

}
